.hustle {
  display: flex;
  justify-content: center;
}

.hustle-div {
  height: 200px;
  text-align: center;
  min-width: 980px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 18px;
  padding: 0rem;
  overflow: hidden;

  @media screen and (max-width: 980px) {
    min-width: auto;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.hustle-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
  .hustle-div:hover {
    .hustle-img {
      transform: scale(1.1);
    }
  }
}

.hustle-text {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
}

.footer-img {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 80vmin;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @media screen and (max-width: 768px) {
    height: 120vmin;
    background-position: bottom;
    background-attachment: scroll;
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    background-attachment: scroll;
  }
}

.footer-text {
  align-self: flex-end;
  color: white;
  font-size: 1em;
  margin-bottom: 0.25rem;
}
