@import 'variables';

.social-icons {
  list-style: none;
  padding: 0;
  font-size: 1.5em;

  li {
    display: inline;

    .facebook-social-icon {
      color: #3b5998;
    }
    .twitter-social-icon {
      color: #1da1f2;
    }
    .linkedin-social-icon {
      color: #0077b5;
    }
    .email-icon {
      color: grey;
    }
  }
}
